# Local setup
.htaccess
.DS_Store
.prettierrc

# Wordpress
wp-config.php
uploads

# Create React App
wp-content/themes/nurseteam/*
!wp-content/themes/nurseteam/react-src

# Uploaded job app files
wp-content/app_uploads/*
wp-content/contact_uploads/*
